body{
     font-family:Georgia, serif;
     font-size-adjust: 25px;
     line-height: 2.3;
     background-color:#002828;
}
#firstContainer{
     margin-top: 3%;
     padding-top: 500px;
}
.container{     
  
}
.newnavbar{
     background-color:  #035453;
}
.certificatecon{
     background-color:  #035453;
}
.secondContainer{
     background-color:  #035453;
     line-height: 2.5;;
}
.thirdContainer{
     background-color:  #035453;
}
.fourthContainer{
     background-color:  #035453;
}
.top-left {
     position: absolute;
     top: 80px;
     left: 80px;
} 
.footer{
     background-color:  #035453;
}